# IDE
/.idea
/.vscode

# Local OBS stub used only for editor autocompletion
obspython.py

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/

# Tooling caches
.ruff_cache/
.mypy_cache/
.pytest_cache/
